* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* tolgo i puntini dalle liste */

ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    /* questo ul proi devo aggiustarlo per il footer etc. e differenziarlo con le classi */
}

/* scheletro navbar */

nav {
    background-color: brown;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 50px;
    
}

.nav-links {
    display: flex;
    flex-direction: row;
}

/* scheletro header */

header {
    background-color: #b4d0e7;

    width: 100%;

    height: 400px;
}

header h1 {
    background-color: darkgreen;

    padding: 2em;

    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20%;
    padding-right: 20%
}

header .container .container-inner {
    display: flex;
    flex-direction: column;

    width: 33%;
}

header p {
    background-color: brown;

    /* width: 20%; */
    height: 100px;  
}

header .blue-btn {
    background-color: brown;

    /* width: 20%; */
    height: 100px; 
}

header .img-placeholder {
    background-color: brown;

    width: 67%;
    height: 200px; 
}

/* fine scheletro header prova */