* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding-top: 50px;
}

/* NAVBAR STILIZZATA NO HOVER*/

nav {
    background-color: white;
    
    position: fixed;
    top: 0;

    z-index: 13;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    height: 80px;
    
}

.nav-links {
    display: flex;
    flex-direction: row;

    align-items: center;

    /* non ho idea di come fare */
}

.logo {
    width: 30%;
    height: auto;
    padding-left: 20px;

}


nav ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;

    align-items: center;
    
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

nav a {
    font-size: 1.2em;
}

nav li {
    font-size: 1.2em;
}

.login-btn {
    background-color: #0061ff;
    border: transparent;
    padding: 5px 10px;

    font-size: 1.2em;
    color: white;
}

.login {
    padding-right: 20px;
}


/* FINE NAVBAR STILIZZATA */

/* HEADER STILIZZATA */

header {
    width: 100%;
    background-color: #b4d0e7;
}

header .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
   
}

header h1 {
    padding-top: 40px;
    padding-bottom: 30px;

    font-size: 5em;
    font-weight: 900;
}

header p {
    font-size: 1.2em;
}

header .container .container-outer {
    display: flex;
    justify-content: space-between;
}

header .container .container-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-bottom: 20px;
}

.blue-btn {
    background-color: #0061ff;
    border: transparent;
    padding: 10px 20px;

    font-size: 1em;

    color: white;
}

header .img-container img {
    width: 100%;

    margin-bottom: -50px;
}

/* FINE HEADER STILIZZATA */

/* STRUTTURA CENTRALE */

#container-centered {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.intestazione-plan {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

    padding-top: 150px;
    padding-bottom: 50px;

    gap: 20px;
}

.intestazione-plan h2 {
    font-size: 2.5em;
    padding-bottom: 50px;
}

.fake-btn {
    display: flex;
}

.check-full {
    width: 1.2em;
    height: 1.2em;
    background-color: #0061ff;
    border-radius: 50%;
    border: transparent;
    margin-right: 5px;

    position: relative;
}

.full-inner {
    width: .6em;
    height: .6em;
    background-color: white;
    border-radius: 50%;
    border: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.check-empty {
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 50%;
    border: 2px solid gray;
    margin-left: 30px;
    margin-right: 5px;

}

.plan-outer {
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
}

.plan {
    border: 1px solid black;

    width: 30%;
}

.plan-header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    border-bottom: 1px solid gray;
}

.plan-body {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.plan-body h3 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.price {
    font-weight: bold;
    padding-bottom: 1em;
}

.period {
    color: gray;
    padding-bottom: 2em;
}

.plan-table {
    
}

.row {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 1em;
}

.row-text {
    padding-left: 0.5em;
}

.plan-body p {
    padding-top: 2em;
    padding-bottom: 2em;
}

.plan-body hr {
    width: 25%;
}

.plan-body h4 {
    padding-top: 2em;
    padding-bottom: 1em;
}

/* fine colonne verticali */

.plan-horizontal {
    border: 1px solid gray;

    width: 100%;
}

.horizontal-outer {
    display: flex;
    justify-content: space-between;
}

.horizontal-outer .blue-btn {
    margin: 2em;
}
/* FINE CSS PIANI TARIFFARI */

.partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    padding-top: 100px;
    padding-bottom: 100px;
}

.partner img {
    width: 50%;
}

.partner-text h3{
    font-size: 2em;
    line-height: 1.5em;
    padding-bottom: .8em;
}

.partner-text p {
    padding-bottom: 2em;
}

.partner-btn {
    padding: 10px;

    border: 2px solid black;
    background-color: white;
}

/* FINE PARTNER */


#operazioni-container h2 {
    padding-bottom: 30px;
    font-size: 2.5em;
}

.operazioni-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 30px;
}

.operazioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.operazioni img {
    width: 90%;
    padding-bottom: 1em;
}

.operazioni h4 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.main-final {
    padding-top: 200px;
    padding-bottom: 150px;
}

.main-final h2 {
    font-size: 2.5em;
    padding-bottom: 30px;

}
/* FINE DEL MAIN */

/* SEZIONE QUADRATONI */

#square-container {
    display: flex;
    flex-direction: row;
}

.square-inner {
    display: flex;
    flex-wrap: wrap;

    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.square-style-big {
    width: calc(100vw / 3);
    height: calc(100vw / 3);

    background-color: #f5f5f5;

    padding: 20px;

    overflow-y: auto;
    /* stilizzare scrollbar forse */
}

.square-big-img {
    width: 50%;
    padding-bottom: 20px;
}

.square-style-big hr {
    width: 25%;
}

.square-style-big p {
    padding-top: 20px;
}


.square-style-1, .square-style-2, .square-style-3, .square-style-4, .square-style-5, .square-style-6, .square-style-7, .square-style-8 {
    width: 50%;
    height: 50%;

    position: relative;
}

/* c'è un modo per selezionarli senza fa sta menata, ma non ricordo */

.square-img {
    width: 50%;
    filter: invert(1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.square-style-1 {
    background-color: #a2d39b;
}

.square-style-2 {
    background-color: #61082b;
}

.square-style-3 {
    background-color: #0093ce;
}

.square-style-4 {
    background-color: #ff1c1c;
}

.square-style-5 {
    background-color: #d5001f;
}

.square-style-6 {
    background-color: #b4d0e7;
}

.square-style-7 {
    background-color: #0d2481;
}

.square-style-8 {
    background-color: #ffd830;
}

.square-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    
    width: 100%;
    min-height: calc(100vw / 6);

    padding: 2em;

    background-color: #b4d0e7;
}

.square-final h2 {
    color: #61082a;
    font-size: 3em;
}

.square-btn {
    background-color: #ffffff;
    border: transparent;
    padding: 5px 10px;

    font-size: 2em;
}

/* FINE QUADRATONI */

/* FAQ */

.faq-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
    padding-bottom: 50px;
}

.faq-container h2 {
    padding-bottom: 30px;
    font-size: 3em;
}

.faq {
   display: flex;
   justify-content: space-between;

   padding-top: 2em;
   padding-bottom: 2em;
   font-weight: bold;
}

/* FINE FAQ */

/* FOOTER */

footer {
    width: 100%;

    padding-top: 30px;
    background-color: #1e1e1e;
    color: white;
}

footer .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer-list {
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-list strong {
    font-size: 2em;

}

footer ul {
    list-style-type: none;
    padding-top: 1em;
}

footer li {
    padding-bottom: 10px;
    font-size: 1em;
}

.footer-last { 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 2em;

    color: white;
}

.footer-last hr {
    width: 15%;
    margin-bottom: 1em;
}

